.title {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 108px;
	background: linear-gradient(180deg, #fff 31.75%, #1a3031 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
